<h1>Login</h1>

<%= form_with :url => "/sessions" do |form| %>

  <div class="mb-3">
    <%= form.label "email" %>
    <%= form.text_field "email" %>
  </div>

    <div class="mb-3">
    <%= form.label "password" %>
    <%= form.password_field "password" %>
     </div>
     
  <p>
    <%= form.submit "Login", :class => "btn btn-primary" %>
  </p>
<% end %>